.weather {
  background-color: #6CA6C7;
  padding: 20px 16px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.weather_sunny {
  background-color: #00A3FF;
}

.weather_night {
  background-color: #286897;
}

.weather__value {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
