.app {
  background-color: #f3f3f3;
  min-height: 100vh;
  padding: 32px 40px 0;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk";
  line-height: 1.4;
}

.app__container {
  box-sizing: border-box;
  max-width: 1360px;
  margin: 0 auto;
}
