@import url("../WeatherCard/WeatherCard.css");

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.main__text {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 34px;
}

.main__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  max-width: 100%;
  padding: 0;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .main__items {
    grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  }
}

@media screen and (max-width: 430px) {
  .main__items {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    gap: 15px;
  }
}