.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__info {
    display: flex;
    gap: 24px;
}

.header__user-tools {
    display: flex;
    gap: 20px;
}

.header__user {
    display: flex;
    gap: 12px;
}
